<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :slack_name %><br />
  <%= f.text_field :slack_name, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<h3>How does Sproutbrain work?</h3>
<p>A user can create projects and cycles. For each current cycle, an email will be sent out at 10am and 6pm to a random participant, asking him/her to rinse the seeds. (edit later) </p>

<%= render "devise/shared/links" %>
