<h3>Participants:</h3>
<!-- highlight ongoing cycles -->
<!-- creates new participants -->
<%= form_for(@participant, url: project_participants_path(@project.id)) do |f| %>
  <p><%= f.text_field :email, :placeholder => "Email" %><br>
  <%= f.text_field :slack_name, :placeholder => "Slack username" %><br>
  <%= f.submit %></p>
<% end %>

<!-- <a href="#view_participants">View Participants</a>
<div id="view_participants" class="modalDialog">
	<div>
		<a href="#close" title="Close" class="close">X</a> -->
		<!-- lists participants -->

		<% Participant.where(project_id: @project.id).each do |participant| %>
			<p>
					<p><%= participant.email %> &#160;&#160;&#160;
					<%= link_to '✘', participant_path(participant), method: :delete %><br>
					<%= participant.slack_name %> </p>
			</p>
		<% end %>
<!-- 	</div>
</div> -->

<%= link_to 'Back', project_path(@project.id) %>