<p>Edit cycle: </p>

<%= form_for(@cycle, url: project_cycle_path(params[:project_id], @cycle.id)) do |f| %>
  
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :duration_days %><br>
  <%= f.number_field :duration_days %><br>

  <%= f.label :start %><br>
  <%= f.date_field :start %><br>

  <%= f.label :morning_alert %><br>
  <%= f.time_field :morning_alert %><br>

  <%= f.label :evening_alert %><br>
  <%= f.time_field :evening_alert %><br> 

  <% all_seeds = Seed.all.pluck(:name) %>
  <% all_seeds.sort_by!{ |s| s.downcase } %>

  <% all_seeds.each do |seed| %>
    <%= check_box_tag "seed_names[]", seed %>
    <%= seed %>
  <% end %><br>
      
  <%= f.submit %> 
<% end %>

<%= link_to 'Cancel', project_path(params[:project_id]) %>