<p>Edit cycle: </p>

<%= form_for(@cycle, url: project_cycle_path(params[:project_id], @cycle.id)) do |f| %>
  
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :duration_days %><br>
  <%= f.number_field :duration_days %><br>

  <%= f.label :start %><br>
  <%= f.date_field :start %><br>

  <%= f.label :morning_alert %><br>
  <%= f.time_field :morning_alert %><br>

  <%= f.label :evening_alert %><br>
  <%= f.time_field :evening_alert %><br> 

  <% all_seeds = Seed.all.pluck(:name) %>
  <% all_seeds.sort_by!{ |s| s.downcase } %>

  <table>
    <% 0.upto((all_seeds.length - 1) / 4) do |index| %>
      <tr>
        <% i = index * 4 %>
        <td>
          <%= check_box_tag "seed_names[]", all_seeds[i] %>
          <%= all_seeds[i] %>
        </td>
        <% if all_seeds.length > (i + 1) %>
          <td>
            <%= check_box_tag "seed_names[]", all_seeds[i + 1] %>
            <%= all_seeds[i + 1] %>
          </td>
        <% end %>
        <% if all_seeds.length > (i + 2) %>
          <td>
            <%= check_box_tag "seed_names[]", all_seeds[i + 2] %>
            <%= all_seeds[i + 2] %>
          </td>
        <% end %>
        <% if all_seeds.length > (i + 3) %>
          <td>
            <%= check_box_tag "seed_names[]", all_seeds[i + 3] %>
            <%= all_seeds[i + 3] %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
      
  <%= f.submit %> 
<% end %>

<%= link_to 'Cancel', project_path(params[:project_id]) %>