<p>New cycle: </p>

<%= form_for(@cycle, url: project_cycles_path(params[:project_id])) do |f| %>
  
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :duration_days %><br>
  <%= f.number_field :duration_days %><br>

  <%= f.label :start %><br>
  <%= f.date_field :start %><br>

  <%= f.label :morning_alert %><br>
  <%= f.time_field :morning_alert %><br>

  <%= f.label :evening_alert %><br>
  <%= f.time_field :evening_alert %><br>  

<!--   valid_seeds = Array.new
  Seed.all.each do |seed|
    if (seed.min_duration + seed.max_duration) / 2 <= :duration_days
      valid_seeds.push(seed)
  valid_seeds.pluck(:name).each do |seed| -->

  <% all_seeds = Seed.all.pluck(:name) %>
  <% all_seeds.sort_by!{ |s| s.downcase } %>

  <% all_seeds.each do |seed| %>
    <%= check_box_tag "seed_names[]", seed %>
    <%= seed %>
  <% end %><br>
  
  <%= f.submit %>

<% end %>

<%= link_to 'Cancel', project_path(params[:project_id]) %>