<div id="form">
	<h2>Create a new project!</h2>
	<div id="new_project">
		<%= form_for(@project) do |f| %>
			<p><%= f.label :name %>: <br>
				<%= f.text_field :name %><br></p>
			<p><%= f.label :slack_channel_name %>: <br>
				<%= f.text_field :slack_channel %><br></p>
			<p>Please log into slack and go to www.api.slack.com to retrieve your token.</p>
			<p><%= f.label :slack_token %>: <br>
				<%= f.text_field :slack_token %> <br></p>
			<p><%= f.submit %></p>
		<% end %>
	</div>
</div>

<div id="form_img">
	<img width="150" height="400" src="http://oyster.ignimgs.com/mediawiki/apis.ign.com/plants-vs-zombies-2/thumb/1/1d/PVZIAT_Bonk_Choy_copy.png/468px-PVZIAT_Bonk_Choy_copy.png" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: center; clear: both; display: block;" align="center" />
</div>