<div id="new_project_wrapper">
	<div id="new_project_form">
		<div id="seed_title"><p>NEW PROJECT</p></div>
		<div id="new_project">
			<%= form_for(@project) do |f| %>
				<p><%= f.label :name %>: <br>
					<%= f.text_field :name %><br></p>
				<p><%= f.label :slack_channel_name %>: <br>
					<%= f.text_field :slack_channel %><br></p>
				<p>Please log into slack and go to www.api.slack.com to retrieve your token.</p>
				<p><%= f.label :slack_token %>: <br>
					<%= f.text_field :slack_token %> <br></p>
				<p><%= f.submit %></p>
			<% end %>
		</div>
	</div>

	<div id="new_project_img">
		<img width="150" height="300" src="http://24.media.tumblr.com/tumblr_m6s264af2H1raphlro1_250.gif" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: center; clear: both; display: block;" align="center" />
	</div>
</div>