<div id="project_title"><h2><%= @project.name %></div>

<!-- highlight ongoing cycles -->
<div id="project_wrapper">
	<div id="cycles">
		<!-- <h3>Cycles:</h3> -->
		<table id="projecthome">
			<col width="24%">
			<col width="24%">
			<col width="24%">
			<% all_cycles = Array.new %>
			<% all_cycles = Cycle.where(project_id: @project.id) %>
			<% all_cycles = all_cycles.reverse %>
			<% 0.upto(all_cycles.length - 1) do |index| %>
				<% cycle = all_cycles[index] %>
				<% if index % 3 == 0 %>
					<tr>
				<% end %>
				<td>                              
					<p><pre><%= cycle.name %>                                                   <%= link_to 'x', cycle_path(cycle.id), method: :delete %></pre></p>
					<p><% if cycle.start.year == Time.now.year || cycle.end.year == Time.now.year %>
							<%= cycle.start.strftime('%-m/%-d') %> - <%= cycle.end.strftime('%-m/%-d') %>
						<% else %>
							<%= cycle.start %> - <%= cycle.end %>
						<% end %>
					</p>
					<p>ALERTS: <br><%= cycle.morning_alert.strftime('%l:%M %P') %>, <%= cycle.evening_alert.strftime('%l:%M %P') %></p>
		      <p>SEEDS:<br>
		        <% current_seeds = Array.new %>
		        <% if Seedtag.where(cycle_id: cycle.id) %>
							<% Seedtag.where(cycle_id: cycle.id).each do |seedtag| %>
							  <% current_seeds.push(Seed.find(seedtag.seed_id).name) %>
							<% end %>
		        <% end %>
		        <% seeds_sentence = current_seeds.to_sentence %>
		        <%= seeds_sentence %>
		     	</p>
		     	<p><%= link_to 'edit', edit_project_cycle_path(cycle.project_id, cycle) %></p>
		    </td>
		    <% if index % 3 == 2 %>
		    	</tr>
		   	<% end %>
		  <% end %>
		</table>
	<!-- highlight ongoing cycles -->
	</div>

	<div id="project_forms">
		<%= link_to '+ New Cycle', new_project_cycle_path(@project) %><br>
		<%= link_to 'x Delete Project', project_path(@project), method: :delete %></h2>

		<h3>Participants:</h3>
		<!-- creates new participants -->
		<%= form_for(@participant, url: project_participants_path(@project.id)) do |f| %>
			<p>
				<%= f.text_field :email, :placeholder => "Email" %><br>
				<%= f.text_field :slack_name, :placeholder => "Slack username" %><br>
				<%= f.submit %>
			</p>
		<% end %>

		<% Participant.where(project_id: @project.id).each do |participant| %>
		  <p>
		  	<%= participant.email %> &#160;&#160;&#160; <%= link_to 'x', participant_path(participant), method: :delete %><br>
		    <%= participant.slack_name %>
		  </p>
		<% end %>
	</div>

</div>