<div id="project_wrapper">
	<div id="cycles">
		<div id="project_title"><p><%= @project.name.upcase %></p></div>
		<% all_cycles = Cycle.where(project_id: @project.id) %>
		<% all_cycles = all_cycles.reverse %>
		<% all_cycles.each do |cycle| %>
		  <div id="one_cycle">
				<div id="cycle_center"><div id="cycle_show_name"><%= cycle.name %></div><div id="cycle_delete"></div><br>
				<%= cycle.start.strftime('%m/%d/%y') %> - <%= cycle.end.strftime('%m/%d/%y') %></div><br>
				<p>Alerts: <%= cycle.morning_alert.strftime('%l:%M %P') %>, <%= cycle.evening_alert.strftime('%l:%M %P') %></p>
				<p>Seeds:
					<% current_seeds = Array.new %>
	        <!-- later won't need this when validated -->
					<% if Seedtag.where(cycle_id: cycle.id) %>
						<% Seedtag.where(cycle_id: cycle.id).each do |seedtag| %>
							<% current_seeds.push(Seed.find(seedtag.seed_id).name) %>
						<% end %>
					<% end %>
					<% seeds_sentence = current_seeds.to_sentence %>
					<%= seeds_sentence %>
				</p><br>
				<div id="cycle_edit"><p><%= link_to 'edit', edit_project_cycle_path(cycle.project_id, cycle) %> | <%= link_to 'delete', cycle_path(cycle.id), method: :delete %></p></div>
			</div>
		<% end %>
  </div>
	<!-- highlight ongoing cycles -->

	<div id="project_forms">
		<div id="project_form_links">
			<br><br><div id="new_cycle_link"><%= link_to '+ NEW CYCLE', new_project_cycle_path(@project) %></div><br><br>
			<div id="edit_project_link"><%= link_to '* Edit Project', edit_project_path(@project) %></div><br><br>
			<div id="delete_project_link"><%= link_to 'x Delete Project', project_path(@project), method: :delete %></div>
		</div>

		<div id="participants_title"><p>PARTICIPANTS</p></div>
		<!-- creates new participants -->
		<div id="participants_form"><%= form_for(@participant, url: project_participants_path(@project.id)) do |f| %>
			<p>
				<%= f.text_field :email, :placeholder => "Email" %><br>
				<%= f.text_field :slack_name, :placeholder => "Slack username" %><br>
				<%= f.submit %>
			</p>
		<% end %></div>

		<div id="participants_names">
		<% Participant.where(project_id: @project.id).each do |participant| %>
		  <p>
		  	<%= link_to '✖', participant_path(participant), method: :delete %> &#160;<%= participant.slack_name %><br>
		     &#160;&#160;&#160;&#160;&#160;<%= participant.email %>
		  </p>
		<% end %>
		</div>
	</div>

</div>