<p><%= link_to 'Register New Seed', new_seed_path %></p>

<h1>My Seeds:</h1>

<% my_seeds = Array.new %>
<% Project.where(user_id: current_user.id).each do |project| %>
	<% Cycle.where(project_id: project.id).each do |cycle| %>
		<% Seedtag.where(cycle_id: cycle.id).each do |seedtag| %>
			<% my_seeds.push(Seed.find(seedtag.seed_id)) %>
		<% end %>
	<% end %>
<% end %>

<% if my_seeds %>
	<% my_seeds = my_seeds.uniq %>

	<table>
		<% 0.upto((my_seeds.length - 1) / 4) do |index| %>
		<tr>
			<% i = index * 4 %>
			<td><h3><%= my_seeds[i].name %></h3>
				<p>Days for seed to sprout: <%= my_seeds[i].min_duration %> - <%= my_seeds[i].max_duration %></p>
				<p>Plant Family: <%= my_seeds[i].family %></p>
				<p>Nutrition: <%= my_seeds[i].nutrition %></p>
				<p>Tips: <%= my_seeds[i].nutrition %></p>
			</td>
			<% if my_seeds.length > (i + 1) %>
				<td><h3><%= my_seeds[i + 1].name %></h3>
					<p>Days for seed to sprout: <%= my_seeds[i + 1].min_duration %> - <%= my_seeds[i + 1].max_duration %></p>
					<p>Plant Family: <%= my_seeds[i + 1].family %></p>
					<p>Nutrition: <%= my_seeds[i + 1].nutrition %></p>
					<p>Tips: <%= my_seeds[i + 1].nutrition %></p>
				</td>
			<% end %>
			<% if my_seeds.length > (i + 2) %>
				<td><h3><%= my_seeds[i + 2].name %></h3>
					<p>Days for seed to sprout: <%= my_seeds[i + 2].min_duration %> - <%= my_seeds[i + 2].max_duration %></p>
					<p>Plant Family: <%= my_seeds[i + 2].family %></p>
					<p>Nutrition: <%= my_seeds[i + 2].nutrition %></p>
					<p>Tips: <%= my_seeds[i + 2].nutrition %></p>
				</td>
			<% end %>
			<% if my_seeds.length > (i + 3) %>
				<td><h3><%= my_seeds[i + 3].name %></h3>
					<p>Days for seed to sprout: <%= my_seeds[i + 3].min_duration %> - <%= my_seeds[i + 3].max_duration %></p>
					<p>Plant Family: <%= my_seeds[i + 3].family %></p>
					<p>Nutrition: <%= my_seeds[i + 3].nutrition %></p>
					<p>Tips: <%= my_seeds[i + 3].nutrition %></p>
				</td>
			<% end %>
		</tr>
		<% end %>
	</table>
<% end %>

<h1>Other Seeds:</h1>

<% other_seeds = Array.new %>
<% Seed.all.each do |seed| %>
	<% unless my_seeds.include?(seed) %>
		<% other_seeds.push(seed) %>
	<% end %>
<% end %>


<table>
	<% 0.upto((other_seeds.length - 1) / 4) do |index| %>
		<tr>
			<% i = index * 4 %>
			<td><h1><%= other_seeds[i].name %></h1>
				<p>Days for seed to sprout: <%= other_seeds[i].min_duration %> - <%= other_seeds[i].max_duration %></p>
				<p>Plant Family: <%= other_seeds[i].family %></p>
				<p>Nutrition: <%= other_seeds[i].nutrition %></p>
				<p>Tips: <%= other_seeds[i].nutrition %></p>
			</td>
			<% if other_seeds.length > (i + 1) %>
				<td><h1><%= other_seeds[i + 1].name %></h1>
					<p>Days for seed to sprout: <%= other_seeds[i + 1].min_duration %> - <%= other_seeds[i + 1].max_duration %></p>
					<p>Plant Family: <%= other_seeds[i + 1].family %></p>
					<p>Nutrition: <%= other_seeds[i + 1].nutrition %></p>
					<p>Tips: <%= other_seeds[i + 1].nutrition %></p>
				</td>
			<% end %>
			<% if other_seeds.length > (i + 2) %>
				<td><h1><%= other_seeds[i + 2].name %></h1>
					<p>Days for seed to sprout: <%= other_seeds[i + 2].min_duration %> - <%= other_seeds[i + 2].max_duration %></p>
					<p>Plant Family: <%= other_seeds[i + 2].family %></p>
					<p>Nutrition: <%= other_seeds[i + 2].nutrition %></p>
					<p>Tips: <%= other_seeds[i + 2].nutrition %></p>
				</td>
			<% end %>
			<% if other_seeds.length > (i + 3) %>
				<td><h1><%= other_seeds[i + 3].name %></h1>
					<p>Days for seed to sprout: <%= other_seeds[i + 3].min_duration %> - <%= other_seeds[i + 3].max_duration %></p>
					<p>Plant Family: <%= other_seeds[i + 3].family %></p>
					<p>Nutrition: <%= other_seeds[i + 3].nutrition %></p>
					<p>Tips: <%= other_seeds[i + 3].nutrition %></p>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>