<div id="new_seed_wrapper">
  <div id="seed_error_msg">
  <% if @seed.errors.any? %>
    <div class="errors">
      Your seed could not be saved:
      <ul>
        <% @seed.errors.full_messages.each do |message| %>
          <li><%=message%></li>
        <% end %>
      </ul>
  <% end %>
  </div>
  <div id="seed_title"><p>NEW SEED</p></div>
  <div id="new_seed_form">
    <%= form_for(@seed) do |f| %>
      <p>
        <%= f.text_field :name, placeholder: "Name" %><br>

        <%= f.number_field :min_duration, placeholder: "Minimum days to sprout" %><br>

        <%= f.number_field :max_duration, placeholder: "Maximum days to sprout" %><br>

        <%= f.text_field :family, placeholder: "Plant family"%><br>

        <%= f.text_area :nutrition, placeholder: "Nutrition facts" %><br>

        <%= f.text_area :tips, placeholder: "Tips?" %><br>  
        
        <%= f.submit %>
      </p>

    <% end %>

    <p><%= link_to 'Cancel', seeds_path %></p>
  </div>

  <div id="new_seed_img" class="stretch">
    <%= image_tag 'growing_seeds.jpg' %>
  </div>
</div>