<!DOCTYPE html>
<html>
<head>
  <title>Sproutbrain</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- , 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application' %>
  <!-- , 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

	<ul id="nav">
		<li><%= link_to 'Seeds Info', seeds_path %></li>
		<!-- make this a dropdown to all projects -->
    <% @curr_projects = Project.where(user_id: current_user.id) %>
    <% if @curr_projects %>
      <% @curr_projects.each do |project| %>
        <li><%= link_to project.name, project_path(project.id) %></li>
      <% end %>
    <% else %>
      <li><%= link_to 'New Project', new_project_path %></li>
    <% end %>

    <!-- make this a dropdown to my account (edit profile, logout) -->
    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
	</ul>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

<!-- <ul id="nav">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Our Products</a></li>
      <li><a href="#">FAQs</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Login</a></li>
   </ul> -->