<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- navbar stuff -->
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="script.js"></script>
  
  <title>Sproutbrain</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul id="home_nav">
    <li><div id="home_nav_spacing"><p> </p></div></li>
    <li><%= image_tag "logo.png" %></li>
    <div id="title"><li><p>SPROUTBRAIN</p></li></div>
    <li>
      <div id="title_link"><a href="#">MORE INFO &#160; ▾</a></div><br>
      <ul class="fallback">
        <li>&#160;&#160;&#160;<%= link_to 'Seeds Info', seeds_path %></li><br>
        <li>&#160;&#160;&#160;<%= link_to 'Instructions', instructions_path %></li>
      </ul>
    </li>
    <li>
      <div id="title_link"><a href="#">PROJECTS &#160; ▾</a></div><br>
      <ul class="fallback">
          <% @curr_projects = Project.where(user_id: current_user.id) %>
          <% if !@curr_projects.empty? %>
            <% @curr_projects.each do |project| %>
              <li>&#160;&#160;&#160;<%= link_to project.name, project_path(project.id) %></li><br>
            <% end %>
          <% end %>
      </ul>
    </li>
    <div id="title_link"><li><%= link_to 'NEW PROJECT', new_project_path %></li></div>
    <div id="title_link"><li><%= link_to 'EDIT ACCOUNT', edit_user_registration_path %></li></div>
    <div id="title_link"><li><%= link_to 'SIGN OUT', destroy_user_session_path, method: :delete %></li></div>
  </ul>

<%= yield %>

</body>
</html>

