<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- navbar stuff -->
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="script.js"></script>
  
  <title>Sproutbrain</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- , 'data-turbolinks-track' => true %> -->
  <%= javascript_include_tag 'application' %>
  <!-- , 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- <ul id="nav"> -->
  <div id='cssmenu'>
  <ul>
		<li><span><%= link_to 'Seeds Info', seeds_path %></span></li>
		
    <!-- make this a dropdown to all projects -->
    <% @curr_projects = Project.where(user_id: current_user.id) %>
    <% if !@curr_projects.empty? %>
      <% @curr_projects.each do |project| %>
        <li><span><%= link_to project.name, project_path(project.id) %></span></li>
      <% end %>
    <% else %>
      <li><span><%= link_to 'New Project', new_project_path %></span></li>
    <% end %>

    <!-- make this a dropdown to my account (edit profile, logout) -->
    <li><span><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></span></li>
    <li class='last'><span><%= link_to 'Edit Account', edit_user_registration_path %></span></li>
	</ul>
  </div>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>

